body {
    font-family: 'Montserrat', sans-serif;
    margin: 1.5% 0.5% 0 0.5%;
    color: #282f3e;
    background-color: #1b1f22;
    overflow-x: hidden;
}
#home {
    width: 100%;
    height: 80vh;
    background-color: #1b1f22;
    overflow: hidden;
    position: relative;
    color: white;
}
#home img {
    width: 100%;
    position: relative;
    top: 50%
}
#home h1 {
  font-weight: 100;
    font-size: 10em;
}
#home .title {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-10%, -10%);
}
#products {
    background-color: white;
    text-align: center;
    margin: 50px 0;
    position: relative;
    left: -0.5%;
    width: 101%;
}
.shoppingCart {
    z-index: 1000;
    margin-top: 25px;
    position:fixed;
    width: 50px;
    height: 50px;
    border: none;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3);
    right: 5%;
    transition: all 0.25s ease-out;
    background-image: url(sC-Blue.png);
    background-repeat: no-repeat;
    background-position: center; 
}
.shoppingCart:hover {
    background-color: #1b1f22;
    cursor: pointer;
    background-image: url(sC-White.png);
}
button:focus {outline:0;}
.shoppingCart:active {
    width: 45px;
    height: 45px;
}
.addProduct {
    border-radius: 25px;
    margin: 20px 0;
    padding: 10px 15px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease-out;
    border:none;
    font-weight: 500;
}
.addProduct:hover {
    background-color: #1b1f22;
    color: white;
    cursor: pointer;
}
.addProduct:active {
    box-shadow: none;
}
#products .product {
    display: inline-block;
    width: 49%;
    text-align: center;
    margin: 50px 0;
}
.product img {
    width: 85%;
}
.product h2, h3, h4 {
    margin: 2% 0;
}
.product h2 {
    font-weight: 500;
    font-size: 4em;

}
.product h3 {
    font-weight: 200;
}   
.product h4 {
    font-weight: 400;
}
.product b {
    font-weight: 400;
    margin: 0 0.5% 0 2.5%;
}
.quote {
    display: none;
}
.quoteBG.active {
    display: inherit;
    z-index: 5;
    position: fixed;
    bottom: 0;
    left: 0;
    height:30vh;
    width: 100%;
    display: inline-block;
    background-color: rgba(0,0,0,0.8);
}
.quote {
    display: none;
}
.quote.active {
    display: inherit;
    position: absolute;
    left: 50%;
    top:50%;
    z-index: 6;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow-y: scroll;
}
.shoppingCart.active {
    background-image: url(x-Blue.png);
}
.shoppingCart.active:hover {
    background-image: url(x-White.png);
}
.review {
    border-bottom: 1px solid;
    border-color: white;
}
.review img {
    width: 80px;
    display: inline-block;
    height: auto;
}
.review h2 {
    font-weight: 500;
    font-size: 1.2em;
}